<li class="nav-header">Cellars</li>
{{#cellars}}
<li><a href="#">{{name}}</i></a></li>
{{/cellars}}
<li class="nav-header">Types</li>
{{#wineTypes}}
<li><a href="#">{{this}}</a></li>
{{/wineTypes}}
<li class="nav-header">Winery</li>
{{#wineries}}
<li><a href="#">Example Winery 1</a></li>
<li><a href="#">Example Winery 2</a></li>
<li><a href="#">Example Winery 3</a></li>
{{/wineries}}
