{{#cellars}}
<tr>
  <td>{{name}}</td>
  <td>10-3-12</td>
  <td>{{num_wines}}</td>
  <td>{{num_bottles}}</td>
  <td class="editdelete"><a class="editcellar-button" data-cellar-id="{{id}}" href="#editcellar" data-toggle="modal">Edit</a></td>
</tr>
{{/cellars}}
