{% extends "base.html" %}
{% load coffeescript %}
{% block title %}
  Winodex - Inventory
{% endblock %}
{% block scripts %}
  <script type="text/javascript" 
    src="{{STATIC_URL}}{% coffeescript "coffee/helpers.coffee" %}"></script>
  <script type="text/javascript" 
          src="{{STATIC_URL}}{% coffeescript "coffee/inventory.coffee" %}">
  </script>
  <link rel="stylesheet" href="{{STATIC_URL}}css/inventory.css" />
{% endblock %}
{% block content %}
  <div id="user-info"></div>
  <div id="cellar-table"></div>

  <br/>
  Cellar Name: <input type="text" id="cellar-name"></input>
  <br/>
  Cellar Location: <input type="text" id="cellar-location"></input>
  <br/>
  Cellar Latitude: <input type="text" id="cellar-latitude"></input>
  <br/>
  Cellar Longitude: <input type="text" id="cellar-longitude"></input>
  <br/>
  <button class="create-cellar-button">Create Cellar</button>
{% endblock %}

